.loginDesign {
  height: 86vh;
  width: 100vw;

  background-image: url(../weCare.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
