.headerDesign {
  height: 14vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: darkcyan;
}

.titleHeader {
  margin: 1em;
  color: white;
  font-weight: bolder;
}

.titleHeader:hover {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.header-design {
  height: 12vh;
  width: 100vw;

  background-color: darkcyan;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.navigator-design {
    display: flex;
    flex-direction: row;
}

.out-design {
  color: white;
  font-weight: bold;

  margin: 1em;

  transition: 0.3s;
}

.out-design:hover {
  transition: 0.3s;
  color: black;
  cursor: pointer;
}